.backgroundv
{
width: 100vw;
height: 100vh;
object-fit: cover;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: -1;
}








body

{
text-align: center;
color: #2EFF5F;
padding-bottom: 30px;
padding-top: 50px;
align-content: center;
font-family: Arial;
text-decoration-style: solid;
text-shadow: 3px 3px 6px #000000;
font-size: 20px;
width: auto;
height: auto;
align-self: center;
margin-right: auto;
margin-left: auto;

}