body

{
text-align: center;
color: #2EFF5F;
padding-bottom: 30px;
padding-top: 100px;
align-content: center;
font-family: Arial;
text-decoration-style: solid;
text-shadow: 3px 3px 6px #000000;
font-size: 20px;
width: 100vw;
height: auto;
background-image: url("pokemon.jpg");
background-size: cover;
}